.home-body {
	background:url(../img/background2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo img  {
	width:220px;
	margin-top:-5px;
}

.navbar-tmtl {
	background-color:#2C3E50;
}

.navbar-tmtl a {
	color:#FFF !important;
	font-size:1.3em;
}

.navbar-tmtl a:hover {
	color:#06C !important;
}

#home-search {
	margin-top:10%;
	background-color:rgba(0,0,0,0.75);
	padding:40px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}